@page "/counter"
@using System.Reflection;

<h1>Counter</h1>

<p>Current count: @currentCount</p>

<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

@code {
    private int currentCount = 0;

    private void IncrementCount()
    {
        currentCount++;
    }

    protected override void OnInitialized()
    {
        base.OnInitialized();

        var test = new Test
        {
            H1 = new Human
            {
                Age = 12,
                Name = "12",
            },
            H2 = new Human
            {
                Age = 13,
                Name = "13",
            }
        };

        Console.WriteLine(Helpers.Helpers.PrintInfo(test, "test"));
        //PropertyInfo[] publicProperties = test.GetType().GetProperties(BindingFlags.Instance | BindingFlags.Public | BindingFlags.DeclaredOnly);
        //foreach (var prop in publicProperties)
        //{
        //    Console.WriteLine(prop.Name);
        //}

        //MethodInfo[] publicMehtods = test.GetType().GetMethods(BindingFlags.Instance | BindingFlags.Public | BindingFlags.DeclaredOnly);
        //foreach (var prop in publicMehtods)
        //{
        //    Console.WriteLine(prop.Name);
        //}

        //FieldInfo[] publicFields = test.GetType().GetFields(BindingFlags.Instance | BindingFlags.Public | BindingFlags.DeclaredOnly);
        //foreach (var prop in publicFields)
        //{
        //    Console.WriteLine(prop.Name);
        //}
    }

    class Test
    {
        public Human H1 { get; set; }

        public Human H2;
    }

    class Human
    {
        public string Name { get; set; }

        public int Age { get; set; }
    }
}
